<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADMOB_BANNER_ID</key>
	<string>$(ADMOB_BANNER_ID)</string>
	<key>MAPS_API_KEY</key>
	<string>$(MAPS_API_KEY)</string>
	<key>GADApplicationIdentifier</key>
	<string>$(ADMOB_APP_ID)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>근처 동물병원을 찾기 위해 현재 위치가 필요해요</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>GEMINI_API_KEY</key>
	<string>$(GEMINI_API_KEY)</string>
</dict>
</plist>
